.basic-projects {
    margin: 20px 0;
  }
  
  .grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Para que os projetos se ajustem em várias linhas se necessário */
  }
  
  .project {
    flex: 1 1 calc(30% - 20px); /* Ajusta o tamanho de cada projeto */
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  