/* src/App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.App {
  text-align: center;
}

.header, .about, .skills, .projects, .contact {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #333;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.skills-coin-collector-container {
  display: flex; /* Alinha os filhos em linha */
  justify-content: space-between; /* Espaço igual entre as seções */
  margin: 20px 0; /* Adiciona margem acima e abaixo do contêiner */
}
